<section id="service" class = "admin-section">
  <div class="container">
    <div class="row">
      <%= link_to t(:bt_new), new_admin_category_path, class:
        "glyphicon glyphicon-plus btn btn-lg btn-primary" %>
      <div class="responsive-table">
        <table id="table_list"
          class="table table-striped table-bordered" cellspacing="0">
          <thead>
            <tr>
              <th class = "text-center"><%= t :title %></th>
              <th class = "text-center"><%= t :activities %></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td class = "text-center">
                  <%= category.name %>
                </td>
                <td class = "text-center">
                  <%= link_to t(:bt_edit), edit_admin_category_path(category), class:
                    "glyphicon glyphicon-edit btn btn-lg btn-primary" %>
                  <%= link_to t(:bt_del), admin_category_path(category), method:
                    :delete,remote: true, data: {confirm: t(:confirm)}, class:
                    "glyphicon glyphicon-remove btn btn-lg btn-primary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</section>
