<section id="service" class = "admin-section">
<div class="container">
<div class="row" id="word">
  <div class="col-lg-2"></div>
  <div class="col-md-8">
    <div class="col-lg-offset-2 col-md-8">
      <h1><b><%= t :create_category %></b></h1>
      <%= form_for [:admin, @category] do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit t(:submit), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</section>
